<div class="container-cadastro">

    <img src="assets/teclado.svg" alt="Imagem de teclado" class="image-teclado">

    <form [formGroup]="recuperarSenhaForm" class="formCadastro" (ngSubmit)="postData(recuperarSenhaForm)">

        <div class="inputAndUsername">
            <input type="text" name="username" id="username" placeholder="Username" formControlName="username">
            <img src="assets/icone-username.svg" alt="Icone de username">
        </div>
        <p *ngIf="recuperarSenhaForm.get('username')?.errors">
            Digite seu usuário</p>
        <div class="inputAndPassword">
            <input type="password" name="password" id="password" placeholder="Password" formControlName="password">
            <img src="assets/icone-password.svg" alt="Icone de password">
        </div>
        <p *ngIf="recuperarSenhaForm.get('password')?.errors">
            Digite a nova senha
        </p>
        <div class="inputAndConfirmPassword">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword">
            <img src="assets/icone-password-confirm.svg" alt="Icone de Confirmar password">
        </div>
        <p *ngIf="recuperarSenhaForm.get('confirmPassword')?.errors">
            Confirme a nova senha
        </p>
        <button [disabled]="recuperarSenhaForm.invalid" class="botao-cadastro" type="submit">Update</button>
        <p *ngIf="controleRecovery" class="errorUsername">Usuário incorreto</p>
    </form>
    <p class="registrar">Already registered?&nbsp;&nbsp;<strong class="strongRegister" routerLink="/">Log in</strong></p>
</div>
